@font-face {
  font-family: BeCode;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: TitleLight;
  src: url("../fonts/Lato/Lato-Thin.ttf");
}
@font-face {
  font-family: TitleSpecial;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
/* SCSS */
.profile-card [class*=p-c-quote-] {
  margin: 15px 0px;
}

/* CSS */
.row {
  justify-content: center;
  margin: 0px;
}

.container-title, .row-title {
  font-family: TitleSpecial;
  text-align: center;
}

[class*=-card] {
  box-sizing: border-box;
}

.profile-card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 100%;
  margin: auto;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #16232e;
}
.profile-card .p-c-img, .profile-card #mystery-coach {
  width: 100%;
}
.profile-card #mystery-coach {
  position: relative;
  overflow: hidden;
}
.profile-card #mystery-coach > div {
  background: url("../images/mystery-coach.jpeg") round;
  padding-bottom: 100%;
  filter: blur(10px);
}
.profile-card #mystery-coach::after {
  content: "?";
  color: #FFF;
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-card .p-c-titles {
  text-align: center;
  padding: 15px 0px;
  border-top: 5px solid #35a3b3;
}
.profile-card .p-c-titles * {
  margin: 10px 0px;
}
.profile-card .p-c-name {
  font-family: BeCode;
  font-size: 1.5rem;
  color: #35a3b3;
}
.profile-card .p-c-title {
  font-family: BeCode;
  font-size: 0.8rem;
  color: #487296;
}
.profile-card .p-c-title::before {
  content: "</ ";
}
.profile-card .p-c-title::after {
  content: " >";
}
.profile-card [class*=p-c-quote-] {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 30px;
  font-family: BeCode;
  color: #487296;
}
.profile-card .p-c-quote-content {
  text-align: justify;
  margin-bottom: auto;
  font-size: 0.9rem;
}
.profile-card .p-c-quote-content::before, .profile-card .p-c-quote-content::after {
  content: '"';
}
.profile-card .p-c-quote-author {
  text-align: right;
  font-style: italic;
  font-size: 0.7rem;
}
.profile-card .p-c-quote-author::before {
  content: "-";
}
.profile-card .p-c-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.profile-card .p-c-links a {
  color: #487296;
  font-size: 1.5rem;
  transition: color 0.5s;
}
.profile-card .p-c-links a * {
  padding: 5px 10px;
}
.profile-card .p-c-links .linkedin:hover {
  color: #0077b5;
}
.profile-card .p-c-links .youtube:hover {
  color: #ef4921;
}
.profile-card .p-c-links .github:hover {
  color: #000000;
}
.profile-card .p-c-links .stackoverflow:hover {
  color: #f48024;
}
.profile-card .p-c-links .gmail:hover {
  color: #FFFFFF;
}

.iframe-wrapper {
  position: relative;
  display: none;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 100%;
}

.display {
  display: flex;
}

#selene {
  transform: rotateZ(90deg);
}

/*# sourceMappingURL=cards.css.map */
