@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Thin.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Trueno;
  src: url("../assets/fonts/Trueno/truenorg.otf");
}
@font-face {
  font-family: Trueno-Outline;
  src: url("../assets/fonts/Trueno/truenobdol.otf");
}
.titleBeCode {
  font-family: Montserrat;
}

.titleLight {
  font-family: Lato;
}

.titleSpecial {
  font-family: Raleway;
}

.btn {
  transition: 0.3s;
  padding: 12px 24px;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  font-family: Raleway;
  text-decoration: none;
  border: 2px solid;
}

.btn-block {
  display: block;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: #63c3d1;
  color: #63c3d1;
}

.btn-primary {
  background-color: #63c3d1;
  border-color: #63c3d1;
  color: #fff;
}

.btn-primary:hover {
  background-color: #35a3b3;
  border-color: #35a3b3;
}

.btn-outline-primary:hover {
  border-color: #35a3b3;
  color: #35a3b3;
}

.container-fluid[class*=section-] {
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.container-fluid[class*=section-]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 1px;
  width: 50%;
  background-color: #63c3d1;
}

.after-none::after {
  content: "";
  display: none;
}

.section-full {
  min-height: 100vh;
}

.section-half {
  min-height: 50vh;
}

.section-small {
  min-height: 30vh;
}

.section-xsmall {
  min-height: 20vh;
}

h2.title {
  color: #555;
  margin-bottom: 48px;
}

* {
  font-family: Montserrat;
}

.my {
  margin-bottom: 15px;
  margin-top: 15px;
}

.mt-auto {
  margin-top: auto;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

#team {
  background-color: #fff;
}

#top {
  height: 100vh;
  width: 100%;
  background-image: url("./../images/banner.jpg");
  background-size: cover;
  color: #fff;
}
#top .col-12 {
  justify-content: center;
}
#top #countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top #countdown .timer {
  margin-top: 48px;
  text-align: center;
}
#top #countdown .timer a, #top #countdown .timer div {
  margin: 24px 0;
}
#top #countdown .timer #startTimer {
  font-size: 2em;
}
#top h1 {
  font-size: 4em;
  text-align: center;
}
#top .btn {
  margin: auto;
}
#top .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#top .container {
  position: relative;
  z-index: 2;
}
#top .container .mtfix {
  margin-top: 5px;
}

#info {
  background-color: #fff;
}
#info #registrationTimer {
  display: block;
  padding: 32px 0;
  color: #555;
  font-size: 1.8em;
  font-family: Raleway;
  text-align: center;
}

.info-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .info-buttons li {
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px 0px;
  }

  #info .row > .col-12:not(:last-child) {
    padding-bottom: 80px;
  }
}
#sponsors {
  background-color: #fff;
}
#sponsors #sponsor-row {
  display: flex;
  height: 150px;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
#sponsors .transitioning {
  transition: 5s linear;
  margin-left: -200px;
}
#sponsors .container {
  overflow: hidden;
}
#sponsors .sponsor-container {
  border: 15px solid #fff;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
}
#sponsors .sponsor-image {
  box-sizing: border-box;
  width: 200px;
  padding: 24px;
  filter: grayscale(100%);
  transition: 0.3s;
  opacity: 0.7;
}
#sponsors .sponsor-image:hover {
  filter: grayscale(0);
  opacity: 1;
}

#footer {
  background-color: #16232e;
  color: #fff;
  position: relative;
}
#footer p {
  text-align: center;
}
#footer h3 {
  margin-bottom: 12px;
}
#footer .footer-list {
  margin-bottom: 60px;
}
#footer .footer-list li {
  line-height: 28px;
}
#footer .footer-list li a {
  color: #63c3d1;
  transition: 0.3s;
  text-decoration: none;
}
#footer .footer-list li a:hover {
  color: #fff;
}
#footer form .form-group {
  width: 100%;
}
#footer form .form-group input, #footer form .form-group textarea {
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #487296;
  padding: 4px 12px;
  padding-left: 0;
  box-shadow: none;
  outline: 0;
  color: #fff;
  width: 100%;
  margin: 12px 0;
  transition: 0.3s;
}
#footer form .form-group input:hover, #footer form .form-group input:active, #footer form .form-group input:focus, #footer form .form-group textarea:hover, #footer form .form-group textarea:active, #footer form .form-group textarea:focus {
  border-color: #63c3d1;
}
#footer form .form-group button {
  cursor: pointer;
  outline: 0;
}
#footer .footer-image {
  max-width: 80%;
  margin-top: 12px;
}
#footer .absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 12px 0;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  footer#footer .absolute-bottom {
    display: none;
  }
  footer#footer .footer-image {
    margin: 12px 0 36px 0;
  }
  footer#footer .footer-list {
    margin-bottom: 24px;
  }
  footer#footer .footer-list::after {
    display: none;
  }

  #info h2, #info h3, #team h2, #team h3, #sponsors h2, #sponsors h3 {
    text-align: center;
  }
}
@media screen and (max-device-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 42px;
  }
}

/*# sourceMappingURL=index.css.map */
