@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Thin.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Trueno;
  src: url("../assets/fonts/Trueno/truenorg.otf");
}
@font-face {
  font-family: Trueno-Outline;
  src: url("../assets/fonts/Trueno/truenobdol.otf");
}
.titleBeCode {
  font-family: BeCode;
}

.titleLight {
  font-family: TitleLight;
}

.titleSpecial {
  font-family: TitleSpecial;
}

.btn {
  transition: 0.3s;
  padding: 12px 24px;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  font-family: TitleSpecial;
  text-decoration: none;
  border: 2px solid;
}

.btn-block {
  display: block;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: #63c3d1;
  color: #63c3d1;
}

.btn-primary {
  background-color: #63c3d1;
  border-color: #63c3d1;
  color: #fff;
}

.btn-primary:hover {
  background-color: #35a3b3;
  border-color: #35a3b3;
}

.btn-outline-primary:hover {
  border-color: #35a3b3;
  color: #35a3b3;
}

section.container-fluid {
  padding: 48px 0;
  box-sizing: border-box;
}

.section-full {
  min-height: 100vh;
}

.section-half {
  min-height: 50vh;
}

.section-small {
  min-height: 30vh;
}

.section-xsmall {
  min-height: 20vh;
}

* {
  font-family: BeCode;
}

.mb {
  margin-bottom: 20px;
}

.mt {
  margin-top: 20px;
}

.flex-center {
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

#top {
  height: 100vh;
  width: 100%;
  background-image: url("./../images/banner.jpg");
  background-size: cover;
  color: #fff;
}
#top .col-12 {
  justify-content: center;
}
#top #countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top #countdown .timer {
  margin-top: 48px;
  text-align: center;
}
#top #countdown .timer a, #top #countdown .timer div {
  margin: 24px 0;
}
#top #countdown .timer #startTimeBlock {
  font-size: 2em;
}
#top h1 {
  font-size: 4em;
  text-align: center;
}
#top .btn {
  margin: auto;
}
#top .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#top .container {
  position: relative;
  z-index: 2;
}
#top .container .mtfix {
  margin-top: 5px;
}

#info {
  background-color: #fafafa;
}
#info #registrationTimeBlock {
  display: block;
  padding: 32px 0;
  color: #555;
  font-size: 1.8em;
  font-family: titleSpecial;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}

#sponsors {
  background-color: #fafafa;
}
#sponsors h2 {
  color: #555;
  margin-bottom: 48px;
}
#sponsors #sponsor-row {
  display: flex;
  height: 150px;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
#sponsors .transitioning {
  transition: 5s linear;
  margin-left: -200px;
}
#sponsors .container {
  overflow: hidden;
}
#sponsors .sponsor-container {
  border: 15px solid #fafafa;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
}
#sponsors .sponsor-image {
  box-sizing: border-box;
  width: 200px;
  padding: 24px;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.7;
}
#sponsors .sponsor-image:hover {
  filter: grayscale(0);
  opacity: 1;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
#sponsors .sponsor-row-2 {
  animation-delay: 2.5s;
}

section#footer {
  background-color: #16232e;
  color: #fff;
  position: relative;
}
section#footer h3 {
  margin-bottom: 12px;
}
section#footer .footer-list {
  padding: 0;
  list-style: none;
  position: relative;
}
section#footer .footer-list::after {
  content: "";
  height: 50%;
  width: 1px;
  background-color: #63c3d1;
  position: absolute;
  right: 10%;
  top: 25%;
}
section#footer .footer-list li {
  line-height: 28px;
}
section#footer .footer-list li a {
  color: #63c3d1;
  transition: 0.3s;
  text-decoration: none;
}
section#footer .footer-list li a:hover {
  color: #fff;
}
section#footer .footer-list.no-after::after {
  display: none;
}
section#footer form .form-group {
  width: 100%;
}
section#footer form .form-group input, section#footer form .form-group textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #487296;
  padding: 4px 12px;
  padding-left: 0;
  box-shadow: none;
  outline: 0;
  color: #fff;
  width: 100%;
  margin: 12px 0;
  transition: 0.3s;
}
section#footer form .form-group input:hover, section#footer form .form-group input:active, section#footer form .form-group input:focus, section#footer form .form-group textarea:hover, section#footer form .form-group textarea:active, section#footer form .form-group textarea:focus {
  border-color: #63c3d1;
}
section#footer form .form-group button {
  cursor: pointer;
  outline: 0;
}
section#footer .footer-image {
  max-width: 80%;
  margin-top: 12px;
}
section#footer .absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 12px 0;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  section#footer .absolute-bottom {
    display: none;
  }
  section#footer .footer-image {
    margin: 12px 0 36px 0;
  }
  section#footer .footer-list {
    margin-bottom: 24px;
  }
  section#footer .footer-list::after {
    display: none;
  }

  #info h2, #info h3, #team h2, #team h3, #sponsors h2, #sponsors h3 {
    text-align: center;
  }
}
@media screen and (max-device-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 42px;
  }
}

/*# sourceMappingURL=index.css.map */
