#header {
    background: url("../assets/images/banner/banner.jpg") center center/cover;
    min-height:100vh;
    position: relative;

    .overlay {
      position: absolute;
      background: rgba(40,42,45,.8);
      width: 100%;
      height: 100%;
      left:0;
      bottom:0;
      z-index:3;
      display:flex;
      justify-content:center;
      align-items:center;
    }

    /* Styling of the second overlay on the bottom and it's content */
    /* ============================================================ */
    .overlay-content {
      position: relative;
      width: 100%;
      left: 0;
      top: 0;
      display: table;
      z-index: 4;
      color: #fff;

      .info-buttons {
        display:none;
      }

      p.mt {
        margin-top:32px;
      }

      a.headerlink {
        color:#fff;
      }

      .row {
        justify-content: space-between;
      }

      h2, h1 {
        padding-bottom:2px;
        margin-bottom:12px;
        font-size:2rem;
      }
      h3 {
        margin-bottom:12px;
      }

      .underlined {
        position:relative;
        display:inline-block;
        &::after {
          content: "";
          width:100%;
          height:1px;
          background-color:$primary;
          position:absolute;
          left:0;
          bottom:0;
        }
      }
    }


    /* Styling of the menu at the top of the header */
    /* ============================================ */
    .menu {
        position:absolute;
        z-index:4;
        left:0;
        top:0;
        height:54px;
        width:100%;
        font-weight:600;

        .after-line{
          position:relative;
          &::after {
            content: "";
            width: 80%;
            height: 1px;
            background-color: $primary;
            position: absolute;
            left: 12%;
            bottom: 10px;
          }
        }

        .brand-image {
          padding-left:24px;
          height:38px;
          margin-top:22px;
          overflow:hidden;
          display:inline-block;
          img {
            height:54px;

          }
        }

        ul {
            margin-top:12px;
            width:50%;
            float:right;
            list-style: none;
            padding:0;
            padding-right:24px;
            display:flex;
            justify-content: flex-end;

            li {
                height:54px;
                display:flex;
                align-items:center;
                justify-content: center;
                box-sizing:border-box;
                cursor:pointer;
                padding:0 12px;
                border-radius:999px;

              a {
                color:#eee;
                display:block;
                text-decoration:none;
                transition:.3s;
              }

              &:hover {
                a {
                  color:#fff;
                }
              }
            }

          li.btn {
            height:38px;
            margin-top:8px;
            a {
              color:#fff;
            }
          }
        }
    }
}

#startTimeBlock {
  font-size:1.5rem;
}



/* Parallax Header */
/* =============== */
@media only screen and (min-device-width: 768px) {
  $scroll-factor: .5;

  div.content {
    max-height: 100%;
    overflow-x: hidden;
    perspective: 1px;
    perspective-origin: center top;
    transform-style: preserve-3d;
  }

  #header {
    position: relative;
    margin-left: -8px;
    vertical-align: top;
    transform-origin: center top;
    transform: translateZ(-#{$scroll-factor * 2}px) scale(1 + $scroll-factor * 2);
  }
  section, .overlay-content {
    transform: translateZ(0);
  }

  html, body {
    height: 100%;
  }
}


@media only screen and (max-width: map-get($lg-map, breakpoint)) {
  #header {
    .overlay-content {
      top:0px;

      [class*="col-"] {
        margin-bottom:24px;
      }
    }
  }
}

@media only screen and (max-width:776px) {
  #header {
    .menu {
      .brand-image {
        display:none;
      }

      ul {
        width:100%;
        float:none;
        display:flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    .overlay-content {
      h1 {
        font-size:2rem;
      }

      h3 {
        display:none !important;
      }

      .info-buttons {
        display:flex;
        margin-bottom:0;
      }

      .active-clock {
        display:inline-block;
        position:relative;
        margin-bottom:24px;

        &::after {
          content:" left to register";
          position:absolute;
          left:calc(100% + 8px);
          top:50%;
          transform:translate(0,-50%);
          width:100%;
          text-align: left;
        }
      }

      .equalize-cols-lg li {
        margin:10px auto;
      }

      p.mt {
        display:none;
      }
    }
  }
}

@media only screen and (max-width:1200px) {
  .active-clock {
    font-size:1.4rem;
  }
}

@media only screen and (min-width:576px) {
  @media only screen and (max-width:776px) {
    #header {
      .menu {
        width:map-get($sm-map, container-w);
        margin:auto;
        left:50%;
        transform:translate(-50%,0);
        padding:0 15px;
        box-sizing: border-box;
      }
    }
  }
}


@media only screen and (max-width:410px) {
  #header .menu ul {
    justify-content: space-around;
    li.after-line {
      width:100%;

      &:after {
        width:calc(100% - 50px);
        left:25px;
        bottom:0;
      }

      a {
        font-size:1.4rem;
      }
    }
  }
}

// === Flipclock styles for smaller pc screens ===
@media only screen and (max-width:776px) {
  .flip-clock-wrapper ul li a div div.inn {
    font-size:40px;
  }

  .flip-clock-wrapper ul li {
    line-height:64px;
  }

  .flip-clock-wrapper ul {
    width: 50px;
    height: 70px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin:3px;
  }

  .flip-clock-divider .flip-clock-label {
    bottom: 0.5em;
  }

  #header {

  }

  .flip-clock-divider.minutes .flip-clock-label {
    right:-77px;
  }

  .flip-clock-dot.bottom {
    bottom:40px;
  }

  .flip-clock-dot.top {
    top: 20px;
  }

  .flip-clock-divider.seconds .flip-clock-label {
    right: -79px;
  }

  .flip-clock-divider .flip-clock-label {
    right: -73px;
  }

  #header > div.overlay > div > div > div > div.col-12.col-xl-7 > div.clock.flip-clock-wrapper > span.flip-clock-divider.days > span {
    right:-69px;
  }
}


@media only screen and (max-device-width: 776px) {
  #header .overlay {
    overflow-y:hidden;
  }

  .menu ul li.after-line {
    display:none !important;
  }
}

@media only screen and (max-width: 410px) {
  #header .overlay {
    overflow-y:hidden;
  }

  .menu ul li.after-line {
    display:none !important;
  }
}

@media screen and (max-width: 552px) {
    .flip-clock-wrapper {
      display:none;
    }
}

@media screen and (min-width: 552px) {
  #registrationTimer {
    display:none !important;
  }
}

@media screen and (max-width: 1199px) {
  @media screen and (max-height: 760px) {
    #header {
      transform:translateZ(0) scale(1) !important;
      margin-left:0;
    }
  }
}
@media screen and (min-width: 1200px) {
  @media screen and (max-height: 532px) {
    #header {
      transform:translateZ(0) scale(1) !important;
      margin-left:0;
    }
  }
}
