// === Responsive Grid Variables ===
$standard-unit: 5px;

$columns: 12;
$row-margin: $standard-unit * 3;

$default-map: (  
    affix:              "",    
    breakpoint:         0px,
    container-w:        auto,
    col-padding:        $standard-unit * 3,
    col-margin:         0px
);

$sm-map: (
    generate:           true,  
    affix:              "-sm",    
    breakpoint:         576px,
    container-w:        546px,
    col-padding:        $standard-unit * 3,
    col-margin:         0px
);

$md-map: (
    generate:           true,  
    affix:              "-md",    
    breakpoint:         768px,
    container-w:        728px,
    col-padding:        $standard-unit * 3,
    col-margin:         0px
);

$lg-map: (
    generate:           true,  
    affix:              "-lg",    
    breakpoint:         992px,
    container-w:        942px,
    col-padding:        $standard-unit * 3,
    col-margin:         0px
);

$xl-map: (
    generate:           true,  
    affix:              "-xl",    
    breakpoint:         1200px,
    container-w:        1140px,
    col-padding:        $standard-unit * 3,
    col-margin:         0px
);

$breakpoint-map: (
    $sm-map,
    $md-map,
    $lg-map,
    $xl-map
);

// === Used Font Families ===
@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato/Lato-Thin.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('../assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: Trueno;
    src: url('../assets/fonts/Trueno/truenorg.otf');
}

@font-face {
    font-family: Trueno-Outline;
    src: url('../assets/fonts/Trueno/truenobdol.otf');
}

// === Colors ===
$primary: #63c3d1;
$primary-active: darken($primary, 15%);

$secondary: #16232e;
$secondary-active: lighten($secondary, 30%);

$youtube: #ef4921;
$linkedin: #0077b5;
$github: #fff;
$stackoverflow: #f48024;
$gmail: #fff;

$mask: rgba(0, 0, 0, 0.5);