@import "variables";



[class*="-card"] {
    box-sizing: border-box;
}

.profile-card {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    max-width: 350px;
    margin: auto;
    
    background-color: $secondary;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    
    font-family: Raleway;
    text-align: center;
    
    img, #mystery-coach {
        width: 100%;
    }

    #mystery-coach {
        position: relative;
        overflow: hidden;
        
        &>div {
            background: url("../assets/images/staff/mystery-coach.jpeg") round;
            padding-bottom: 100%;
            filter: blur(10px);
        }
        &::after {
            content: "?";
            color: #fff;
            font-size: 75px;
            position: absolute;
            top: 50%;  
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .name {
        border-top: 4px solid $primary-active;
        padding-top: 15px;
        font-size: 1.5rem;
        color: $primary-active;
    }

    .title {
        padding-top: 5px;
        font-size: 0.8rem;
        color: #FFF;
        &::before {
            content:"</ ";
        }
        &::after {
            content:" >";
        }
    }
    
    [class*="quote-"] {
        box-sizing: border-box;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        color: #FFF;
    }
    
    .quote-content { 
        padding-top: 25px;
        margin-bottom: auto;
        min-height: 150px;
        text-align: justify;
        font-size: 0.9rem;
        &::before, &::after {
            content:'"';
        }
    }

    .quote-author {
        padding-bottom: 25px;
        padding-top: 25px;
        text-align: right;
        font-style: italic;
        font-size: 0.7rem;

        &::before {
            content:'-';
        }
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 0px;
        background-color: rgba(0,0,0,0.4);
        a {
            color: $primary-active;
            font-size: 1.5rem;
            transition: color .5s;
            * {
                padding: 5px 10px;
            }
        }
        .linkedin:hover {
            color: $linkedin;
        }
        .youtube:hover {
            color: $youtube;
        }
        .github:hover {
            color: $github;
        }
        .stackoverflow:hover {
            color: $stackoverflow;
        }
        .gmail:hover {
            color: $gmail;
        }
    }
}

.iframe-wrapper {
    position: relative;
    display: none;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 100%;
    }
}

.display {
    display: flex;
}