@import "variables";

#header {
    background: url("../assets/images/banner/banner-main.jpg") center 70%/cover;
    height: 100vh;

    position: relative;
}

.overlay {
    position: absolute;
    background: $mask;
    width: 100%;
    height: 100%;
}

.overlay-content {
    z-index: 10;
}