@import "variables";
// Top Banner
.titleBeCode {
  font-family: Montserrat;
}

.titleLight {
  font-family: Lato;
}

.titleSpecial {
  font-family: Raleway;
}

// === Define button styles ===


.btn {
  transition:.3s;
  padding:12px 24px;
  border-radius: 0;
  display:inline-block;
  text-align:center;
  font-family: Raleway;
  text-decoration: none;
  border: 2px solid;
}

.btn-block {
  display:block;
}

.btn-outline-primary {
  background-color:transparent;
  border-color:$primary;
  color:$primary;
}

.btn-primary {
  background-color:$primary;
  border-color:$primary;
  color:#fff;
}

.btn-primary:hover {
  background-color:$primary-active;
  border-color:$primary-active;
}

.btn-outline-primary:hover {
  border-color:$primary-active;
  color: $primary-active;
}

// === Section styles ===
.container-fluid[class*="section-"] {
  padding: 100px 0;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;  

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 25%;

    height: 1px;
    width: 50%;

    background-color: $primary;
  }
}

.after-none {
  &::after {
    content: "";
    display: none;
  }
}

.section-full {
  min-height:100vh;
}

.section-half {
  min-height:50vh;
}

.section-small {
  min-height:30vh;
}

.section-xsmall {
  min-height:20vh;
}

h2.title  {
  color:#555;
  margin-bottom:48px;
}

// === Set Default font family ===
* {
  font-family:Montserrat;
}

// === Add margin classes ===
.my {
  margin-bottom:15px;
  margin-top:15px;
}

.mt-auto {
  margin-top: auto;
}

// === Utility classes ===
.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.hidden {
  visibility:hidden;
}





// === Individual Section Styles ===
// =================================

#team {
  background-color: #fff;
}

// === Banner styles ===
#top {
  height:100vh;
  width:100%;
  background-image:url("./../images/banner.jpg");
  background-size:cover;
  color:#fff;

  .col-12 {
    justify-content: center;
  }

  #countdown {
    display:flex;
    justify-content: center;
    align-items: center;

    .timer {
      margin-top:48px;
      text-align: center;
      a, div {
        margin:24px 0;
      }

      #startTimer {
        font-size:2em;
      }
    }


  }

  h1 {
    font-size:4em;
    text-align:center;
  }

  .btn {
    margin:auto;
  }

  .overlay {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0;
    background-color:rgba(0,0,0,.6);
  }

  .container {
    position:relative;
    z-index:2;

    .mtfix {
      margin-top:5px;
    }
  }
}


// === Info styles ===
#info {
  background-color:#fff;

  #registrationTimer {
    display:block;
    padding:32px 0;
    color:#555;
    font-size:1.8em;
    font-family: Raleway;
    text-align: center;
  }
}

.info-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: map-get($lg-map, breakpoint)){
  .info-buttons li {
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px 0px;
  }

  #info .row > .col-12:not(:last-child) {
    padding-bottom: 80px;
  }

  
}

// === Sponsors styles ===
#sponsors {
  background-color:#fff;

  #sponsor-row {
    display: flex;
    height: 150px;
    align-items: center;
    flex-wrap: nowrap;
    
    overflow: hidden;

  }

  .transitioning {
    transition:5s linear;
    margin-left:-200px;
  }

  .container {
    overflow:hidden;
  }

  .sponsor-container {
    border: 15px solid #fff;
    border-top:0;
    border-bottom:0;
    box-sizing:border-box;
  }

  .sponsor-image {
    box-sizing: border-box;
    width: 200px;
    padding: 24px;
    filter: grayscale(100%);
    transition: .3s;
    //cursor: pointer;
    opacity: .7;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

// === Footer styles ===
#footer {
  background-color:$secondary;
  color:#fff;
  position:relative;

  p {
    text-align: center; 
  }

  h3 {
    margin-bottom: 12px;
  }


  .footer-list {
    margin-bottom: 60px;

    li {
      line-height:28px;

      a {
        color: $primary;
        transition:.3s;
        text-decoration: none;
        &:hover {
          color:#fff;
        }
      }
    }
  }

  form {
    .form-group {
      width:100%;

      input, textarea {
        background-color:transparent;
        box-sizing: border-box;
        border:0;
        border-bottom:1px solid $secondary-active;
        padding:4px 12px;
        padding-left:0;
        box-shadow:none;
        outline:0;
        color:#fff;
        width:100%;
        margin:12px 0;
        transition: .3s;

        &:hover, &:active, &:focus {
          border-color:$primary;
        }
      }

      button {
        cursor:pointer;
        outline:0;
      }
    }
  }

  .footer-image {
    max-width:80%;
    margin-top:12px;
  }

  .absolute-bottom {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    margin:0;
    display:flex;
    justify-content: center;
    background-color:rgba(0,0,0,.5);
    text-align: center;
    padding:12px 0;
    font-size:.8em;
  }
}

@media screen and (max-width: 768px) {
  footer#footer {
    .absolute-bottom {
      display:none;
    }

    .footer-image {
      margin:12px 0 36px 0;
    }

    .footer-list {
      margin-bottom:24px;
      &::after {
        display:none;
      }
    }
  }

  #info, #team, #sponsors {
    h2, h3 {
      text-align: center;
    }
  }

}





// === Font sizes for smaller screens ===
@media screen and (max-device-width: 768px) {
  h1 {
    font-size:64px;
  }

  h2 {
    font-size:50px;
  }

  h3 {
    font-size:42px;
  }
}





