@import "variables";

// === Define button styles ===
.btn {
  transition:.3s;
  padding:12px 24px;
  border-radius: 0;
  display:inline-block;
  text-align:center;
  font-family: Raleway;
  text-decoration: none;
  border: 2px solid;
}

.btn-block {
  display:block;
}

.btn-outline-primary {
  background-color:transparent;
  border-color:$primary-active;
  color:$primary-active;
}

.btn-primary {
  background-color:$primary-active;
  border-color:$primary-active;
  color:#fff;
}

.btn-primary:hover {
  background-color:$primary;
  border-color:$primary;
}

.btn-outline-primary:hover {
  border-color:$primary;
  color: $primary;
}

// === Section styles ===
.container-fluid[class*="section-"] {
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;  

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 25%;

    height: 1px;
    width: 50%;

    background-color: $primary;
  }
}

.after-none {
  &::after {
    content: "";
    display: none;
  }
}

.section-full {
  min-height:100vh;
}

.section-half {
  min-height:50vh;
}

.section-small {
  min-height:30vh;
}

.section-xsmall {
  min-height:20vh;
}

h2.title  {
  color:#555;
  margin-bottom:48px;
}

// === Set Default font family ===
* {
  font-family:Montserrat;
}

// === Add margin classes ===
.my {
  margin-bottom:15px;
  margin-top:15px;
}

.mt-auto {
  margin-top: auto;
}

// === Utility classes ===
.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.hidden {
  visibility:hidden;
}

// === Styling for the active plain-text clocks ===
.active-clock {
  font-size:2rem;
  font-family: Raleway;
  font-weight:800;
}



// === Font sizes for smaller screens ===
@media only screen and (max-device-width: 768px) {
  h1 {
    font-size:64px;
  }

  h2 {
    font-size:50px;
  }

  h3 {
    font-size:42px;
  }
}





